/*
 * Copied and modified from https://www.w3schools.com/howto/howto_css_login_form.asp [Last accessed 21/12/2017].
 */

/* Full-width inputs */
input[type=text], input[type=email], input[type=password], [type=year] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


/* Set a style for all buttons */
button {
    background-color: #000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.button{
  color: white;
}

button:hover {background-color: #1E90FF}

 button:active {
  background-color: #1E90FF;
  box-shadow: 0 5px #666;
 }

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    input[type=text], input[type=email], input[type=password]{
      max-width: 100%;
    }
    button{
      width: 100%;
    }
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
