html{
  max-width: 100%;
}

.nametitle{
    font-size: 70px;
}

.subtitle{
   text-align: center;
}

.item{
  text-align: center;
  align-items: center;
}


.item-title{
  font-weight: bold;
}

.date-posted{
    font-style: italic;
}

.info{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.overview{
  padding-left: 10%;
}

h1{
  font-weight: bold;
  text-align: center;
}

.bullet{
  display: list-item;
}

@media screen and (max-width: 600px){
  .nametitle{
      font-size: 45px;
      max-width: 100%;
  }
}
